[Desktop Entry]
Name=KDE Interactive Geometry
Name[bg]=Интерактивна геометрия
Name[ca]=Geometria interactiva KDE
Name[cs]=KDE Interaktivní geometrie
Name[cy]=Geometreg Rhyngweithiol KDE
Name[da]=KDE's interaktive geometri
Name[de]=Interaktive Geometrie
Name[el]=Εργαλείο γεωμετρίας του KDE
Name[es]=Geometría interactiva para KDE
Name[et]=KDE interaktiivne geomeetria
Name[fi]=KDE:n interaktiivinen geometria
Name[fr]=Logiciel de géométrie interactive de KDE
Name[gl]=Xeometría Interactiva de KDE
Name[hi]=केडीई इंटरएक्टिव ज्यॉमिती
Name[hu]=Interaktív geometria
Name[it]=Geometria interattiva di KDE
Name[lv]=KDE Interaktīvā Ģeometrija
Name[nb]=KDE Interaktiv geometri
Name[pl]=Interaktywna geometria dla KDE
Name[pt]=Geometria Interactiva
Name[pt_BR]=Geometria Interativa do KDE
Name[ru]=Интерактивная геометрия KDE
Name[sl]=Interaktivna geometrija za KDE
Name[sr]=KDE-ова интерактивна геометрија
Name[sv]=Interaktiv geometri för KDE
Name[ta]=KDE ஊடாடும் வடிவியல்
Name[xx]=xxKDE Interactive Geometryxx
Name[zh_CN]=KDE 交互几何
Exec=kig %i %m -caption "%c"
MimeType=application/x-kig;application/x-kgeo;
Icon=kig
Type=Application
DocPath=kig/kig.html
Comment=KDE Interactive Geometry
Comment[ar]=هندسة كيدي المتفاعلة 
Comment[bg]=Интерактивна геометрия за КДЕ
Comment[bs]=KDE interaktivna geometrija
Comment[ca]=Geometria interactiva per a KDE
Comment[cs]=KDE Interaktivní geometrie
Comment[cy]=Geometreg Rhyngweithiol KDE
Comment[da]=KDE interaktiv geometri
Comment[de]=Interaktive Geometrie
Comment[el]=Εργαλείο γεωμετρίας του KDE
Comment[es]=Geometría interactiva para KDE
Comment[et]=KDE interaktiivne geomeetria
Comment[fi]=KDE:n interaktiivinen geometria
Comment[fr]=Logiciel de géométrie interactive de KDE
Comment[gl]=Xeometría interactiva de KDE
Comment[hi]=केडीई इंटरएक्टिव ज्यॉमिती
Comment[hr]=Interaktivna geometrija za KDE
Comment[hu]=Interaktív geometria
Comment[it]=Geometria interattiva di KDE
Comment[ja]=KDEインタラクティブジオメトリ
Comment[lv]=KDE Interaktīvā Ģeometrija
Comment[mn]=KDE Интерактив Геометр
Comment[ms]=Geometri Interaktif KDE
Comment[nb]=KDE interaktiv geometri
Comment[nl]=KDE's interactieve geometrie
Comment[pl]=Interaktywna geometria dla KDE
Comment[pt]=Geometria Interactiva
Comment[pt_BR]=Geometria Interativa do KDE
Comment[ru]=Интерактивная геометрия KDE
Comment[sk]=KDE Interaktívna geometria
Comment[sl]=Interaktivna geometrija za KDE
Comment[sr]=KDE-ова интерактивна геометрија
Comment[sv]=Interaktiv geometri för KDE
Comment[ta]=KDE ஊடாடும் வடிவியல்
Comment[tr]=KDE Etkileşimli Geometri
Comment[ven]=Geometry yau shumea nayo
Comment[xh]=KDE Ulwazi-lwezibalo Exoxisanayo
Comment[xx]=xxKDE Interactive Geometryxx
Comment[zh_CN]=KDE 交互几何
Terminal=0
Categories=Qt;KDE;Education;Math
