[Desktop Entry]
Name=Kig
Exec=kig %i %m -caption "%c"
MimeType=application/x-kig;application/x-kgeo;
Icon=kig
Type=Application
DocPath=kig/kig.html
Comment=KDE Interactive Geometry
Comment[bs]=KDE interaktivna geometrija
Comment[es]=Geometría interactiva para KDE
Comment[hr]=Interaktivna geometrija za KDE
Comment[hu]=Interaktív geometria
Comment[ja]=KDEインタラクティブジオメトリ
Comment[lv]=KDE Interaktīvā Ģeometrija
Comment[nl]=KDE's interactieve geometrie
Comment[pt_BR]=Geometria Interativa do KDE
Comment[sv]=Interaktiv geometri för KDE
Comment[tr]=KDE Etkileşimli Geometri
Comment[ven]=Geometry yau shumea nayo
Comment[xh]=KDE Ulwazi-lwezibalo Exoxisanayo
Terminal=0
Categories=QT;KDE;Education;Math
