[Desktop Entry]
Name=KigPart
MimeType=application/x-kig;application/x-kgeo;image/x-xfig;application/x-cabri;application/x-drgeo;application/x-kseg;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=kigpart
Type=Service
Icon=kig
