[Desktop Entry]
Name=KigPart
Name[af]=KigPart
Name[be]=KigPart
Name[bg]=KigPart
Name[bn]=কিগপার্ট
Name[br]=KigPart
Name[bs]=KigPart
Name[ca]=KigPart
Name[ca@valencia]=KigPart
Name[cs]=Součást Kig
Name[csb]=Mòduł KigPart
Name[cy]=KigPart
Name[da]=KigPart
Name[de]=KigPart
Name[el]=KigPart
Name[en_GB]=KigPart
Name[eo]=KigPart
Name[es]=KigPart
Name[et]=Kigi komponent
Name[eu]=KigPart
Name[fi]=KigPart
Name[fr]=Module Kig
Name[ga]=KigPart
Name[gl]=KigPart
Name[gu]=KigPart
Name[he]=KigPart
Name[hi]=केआईजी-पार्ट
Name[hne]=केआईजी-पार्ट
Name[hr]=KigPart
Name[hu]=KigPart
Name[is]=KigPart
Name[it]=Componente Kig
Name[ja]=Kig コンポーネント
Name[ka]=KigPart
Name[kk]=KigPart бөлшегі
Name[km]=KigPart
Name[ko]=KigPart
Name[lt]=KigPart
Name[lv]=KigPart
Name[mk]=KigPart
Name[ml]=കിഗ്പാര്‍ട്ട്
Name[mr]=किग-पार्ट
Name[ms]=KigPart
Name[nb]=KigPart
Name[nds]=KigPart
Name[ne]=किग पार्ट
Name[nl]=KigPart
Name[nn]=KigPart
Name[pl]=KigPart
Name[pt]=KigPart
Name[pt_BR]=Componente do Kig
Name[ro]=KigPart
Name[ru]=Компонент Kig
Name[sk]=KigPart
Name[sl]=KigPart
Name[sv]=Kigdel
Name[ta]=கிக்பகுதி
Name[tg]=KigPart
Name[tr]=KigPart
Name[ug]=KigPart
Name[uk]=KigPart
Name[vi]=KigPart
Name[xh]=KigPart
Name[x-test]=xxKigPartxx
Name[zh_CN]=KigPart
Name[zh_TW]=KigPart
MimeType=application/x-kig;application/x-kgeo;image/x-xfig;application/x-cabri;application/x-drgeo;application/x-kseg;application/vnd.geogebra.file;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=kf5/parts/kigpart
Type=Service
Icon=kig
