<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kig_part" version="1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
		<Action name="file_save" />
		<Action name="file_save_as" />
		<Separator />
		<Action name="file_export_to_image" />
		<Separator />
  </Menu>
  <Menu name="edit">
    <text>&amp;Edit</text>
    <Action name="edit_unhide_all" />
    <Action name="edit_undo" />
    <Action name="edit_redo" />
  </Menu>
  <Menu name="view">
    <text>&amp;View</text>
    <Action name="view_fullscreen" />
    <Action name="view_zoom_in" />
    <Action name="view_zoom_out" />
    <Action name="view_fit_to_page" />
  </Menu>
  <Menu name="objects">
    <text>Objects</text>
    <Menu name="new_line">
	<text>Lines</text>
	<Action name="objects_new_linettp" />
	<Action name="objects_new_lineperpend" />
	<Action name="objects_new_lineparallel" />
	<Action name="objects_new_lineradical" />
	<Action name="objects_new_ray" />
	<Action name="objects_new_segment" />
	<ActionList name="user_line_types" />
	<ActionList name="user_segment_types" />
    </Menu>
    <Menu name="new_point">
	<text>Points</text>
	  <Action name="objects_new_normalpoint" />
	  <Action name="objects_new_midpoint" />
	  <Action name="objects_new_intersectionpoint" />
	  <Action name="objects_new_point_xy" />
	  <Action name="objects_new_translatedpoint" />
	  <Action name="objects_new_rotatedpoint" />
	  <Action name="objects_new_mirrorpoint" />
	  <Action name="objects_new_circlelineintersect" />
	  <ActionList name="user_point_types" />
    </Menu>
    <Menu name="new_circle">
	<text>Circle</text>
	<Action name="objects_new_circlebcp" />
	<Action name="objects_new_circlebtp" />
	<ActionList name="user_circle_types" />
    </Menu>
    <Menu name="new_other">
	<text>Other</text>
	<Action name="objects_new_locus" />
	<Action name="objects_new_vector" />
	<Action name="objects_new_textlabel" />
	<Action name="objects_new_arc" />
	<Action name="objects_new_ellipsebffp" />
	<Action name="objects_new_conicb5p" />
	<ActionList name="user_other_types" />
    </Menu>
    <Separator />
    <Action name="delete_objects" />
    <Action name="cancel_construction" />
  </Menu>
  <Menu name="types">
    <text>Types</text>
    <Action name="macro_action" />
    <Action name="types_edit" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
	<Action name="file_save" />
	<Action name="file_save_as" />
	<Separator />
  <Action name="edit_undo"/>
  <Action name="edit_redo"/>
  <Separator />
  <Action name="delete_objects"/>
  <Action name="cancel_construction"/>
  <Action name="macro_action"/>
</ToolBar>
<ToolBar name="points_toolbar"><text>Points</text>
  <Action name="objects_new_normalpoint" />
  <Action name="objects_new_point_xy" />
  <Action name="objects_new_intersectionpoint" />
  <Action name="objects_new_midpoint" />
  <Action name="objects_new_mirrorpoint" />
  <Action name="objects_new_rotatedpoint" />
  <Action name="objects_new_translatedpoint" />
  <Action name="objects_new_circlelineintersect" />
  <ActionList name="user_point_types" />
</ToolBar>
<ToolBar name="line_toolbar"><text>Lines</text>
  <Action name="objects_new_segment" />
  <Action name="objects_new_linettp" />
  <Action name="objects_new_vector" />
  <Action name="objects_new_ray" />
  <Action name="objects_new_lineperpend" />
  <Action name="objects_new_lineparallel" />
  <Action name="objects_new_lineradical" />
  <ActionList name="user_line_types" />
  <ActionList name="user_segment_types" />
</ToolBar>
<ToolBar name="rest_toolbar"><text>Rest</text>
  <Action name="objects_new_circlebcp" />
  <Action name="objects_new_circlebtp" />
  <Action name="objects_new_arc" />
  <Action name="objects_new_locus" />
  <Action name="objects_new_textlabel" />
  <Action name="objects_new_ellipsebffp" />
  <Action name="objects_new_conicb5p" />
  <ActionList name="user_other_types" />
  <ActionList name="user_circle_types" />
</ToolBar>
<ToolBar name="view_toolbar"><text>View</text>
  <Action name="view_zoom_in" />
  <Action name="view_zoom_out" />
  <Action name="view_fullscreen" />
  <Action name="view_fit_to_page"/>
</ToolBar>
