<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kig_part" version="1">
<MenuBar>
  <Menu name="edit">
    <text>&amp;Edit</text>
    <Action name="edit_unhide_all" />
    <Action name="edit_undo" />
    <Action name="edit_redo" />
  </Menu>
  <Menu name="view">
    <text>&amp;View</text>
    <Action name="view_fullscreen" />
    <Action name="view_zoom_in" />
    <Action name="view_zoom_out" />
    <Action name="view_recenter" />
  </Menu>
  <Menu name="objects">
    <text>Objects</text>
    <Action name="new_line" />
    <Action name="new_segment" />
    <Action name="new_point" />
    <Action name="new_circle" />
    <Action name="new_other" />
    <Action name="new_macro" />
    <Separator />
    <Action name="delete_objects" />
    <Action name="cancel_construction" />
  </Menu>
  <Menu name="types">
    <text>Types</text>
    <Action name="macro_action" />
    <Action name="types_edit" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="edit_undo"/>
  <Action name="edit_redo"/>
  <Separator />
  <Action name="delete_objects"/>
  <Action name="cancel_construction"/>
  <Action name="macro_action"/>
</ToolBar>
<ToolBar name="view_toolbar">
  <Action name="view_zoom_in" />
  <Action name="view_zoom_out" />
  <Action name="view_fullscreen" />
  <Action name="view_recenter"/>
</ToolBar>
<ToolBar name="points_toolbar">
  <Action name="objects_new_normalpoint" />
  <Action name="objects_new_midpoint" />
  <Action name="objects_new_intersectionpoint" />
  <Action name="objects_new_point_xy" />
</ToolBar>
<ToolBar name="line_toolbar">
  <Action name="objects_new_linettp" />
  <Action name="objects_new_lineperpend" />
  <Action name="objects_new_lineparallel" />
  <Action name="objects_new_lineradical" />
  <Action name="objects_new_segment" />
</ToolBar>
<ToolBar name="rest_toolbar">
  <Action name="objects_new_circlebcp" />
  <Action name="objects_new_circlebtp" />
  <Action name="objects_new_locus" />
  <Action name="new_macro" />
</ToolBar>
