<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kig_shell" version="1">
	<MenuBar>
		<Merge />
	</MenuBar>
	<ToolBar name="mainToolBar"><text>&amp;Main Toolbar</text>
		<Action name="reload"/>
	</ToolBar>
</kpartgui>
