<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kig_shell" version="1">
	<MenuBar>
		<Menu name="file">
			<Merge />
		</Menu>
		<Menu name="edit">
			<text>&amp;Edit</text>
			<Merge />
		</Menu>
		<Menu name="view">
			<text>&amp;View</text>
			<Merge />
		</Menu>
		<Menu name="objects">
			<text>Objects</text>
			<Merge />
		</Menu>
		<Menu name="types">
			<text>Types</text>
			<Merge />
		</Menu>			
		<Merge />
		<Menu name="settings">
			<Merge />
		</Menu>
		<Menu name="help">
			<Merge />
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar"><text>&amp;Main Toolbar</text>
		<Action name="reload"/>
	</ToolBar>
</kpartgui>
