<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kig_part" version="1">
<MenuBar>
  <Menu name="view">
    <Action name="view_fullscreen" />
    <Action name="view_zoom_in" />
    <Action name="view_zoom_out" />
    <Action name="view_fit_to_page" />
  </Menu>
</MenuBar>
<ToolBar name="view_toolbar"><text>View</text>
  <Action name="view_zoom_in" />
  <Action name="view_zoom_out" />
  <Action name="view_fullscreen" />
  <Action name="view_fit_to_page"/>
</ToolBar>

