[Desktop Entry]
Type=Service
Name=Dr. Geo Info
Name[af]=Dr. Geo inligting
Name[be]=Звесткі Dr. Geo
Name[bn]=ড. জিও সংক্রান্ত তথ্য
Name[br]=Titouroù diwar-benn Dr. Geo
Name[ca]=Informació Dr. Geo
Name[cs]=Dr. Geo info
Name[csb]=Wëdowiédzô Dr Geo
Name[cy]=Gwybodaeth Dr. Geo
Name[da]=Dr. Geo info
Name[el]=Πληροφορίες για το Dr. Geo
Name[eo]=Dr. Geo info
Name[es]=Información de Dr. Geo
Name[et]=Dr. Geo info
Name[eu]=Dr. Geo informazioa
Name[fa]=اطلاعات دکتر جیو
Name[fi]=Dr. Geo
Name[fr]=Informations de Dr. Geo
Name[ga]=Eolas faoi Dr. Geo
Name[gl]=Información de Dr. Geo
Name[he]=מידע על Dr. Geo 
Name[hi]=डॉ. जिओ जानकारी
Name[hu]=Dr. Geo-jellemzők
Name[is]=Dr. Geo upplýsingar
Name[it]=Informazioni Dr. Geo
Name[ja]=Dr. Geo 情報
Name[ka]=Dr. Geo - მონაცემები
Name[km]=ព័ត៌មាន Dr. Geo
Name[mk]=Dr. Geo инфо
Name[nb]=Dr. Geo-info
Name[ne]=डा. जिव जानकारी
Name[nn]=Dr. Geo-info
Name[pa]=Dr. Geo ਜਾਣਕਾਰੀ
Name[pl]=Informacja Dr. Geo
Name[pt]=Informação do Dr. Geo
Name[pt_BR]=Informações do Dr. Geo
Name[ru]=Файл Dr. Geo
Name[sl]=Podatki Dr. Geo
Name[sr]=Dr. Geo информације
Name[sr@Latn]=Dr. Geo informacije
Name[sv]=Dr. Geo-information
Name[ta]=டா. ஜியோ தகவல்
Name[tg]=Ахборот дар бораи Геометрия
Name[tr]=Dr. Geo Bilgisi
Name[uk]=Інформація для Dr. Geo
Name[vi]=Tiến sĩ Thông tin Hình học
Name[zh_CN]=Dr. Geo 信息
Name[zh_TW]=Dr. Geo 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_drgeo
MimeType=application/x-drgeo
PreferredGroups=DrgeoInfo
PreferredItems=NumOfFigures;NumOfTexts;NumOfMacros
