[Desktop Entry]
Type=Service
Name=Kig Info
Name[af]=Kig inligting
Name[be]=Звесткі Kig
Name[bn]=কিগ সংক্রান্ত তথ্য
Name[br]=Titouroù diwar-benn Kig
Name[ca]=Informació Kig
Name[cs]=Kig info
Name[csb]=Wëdowiédzô Kig
Name[cy]=Gwybodaeth Kig
Name[da]=Kig info
Name[el]=Πληροφορίες για το Kig
Name[eo]=Kig info
Name[es]=Información de Kig
Name[et]=Kigi info
Name[eu]=Kig informazioa
Name[fa]=اطلاعات Kig
Name[fr]=Informations de Kig
Name[ga]=Eolas faoi Kig
Name[gl]=Información de Kig
Name[he]=Kig מידע
Name[hi]=केआईजी जानकारी
Name[hu]=Kig-jellemzők
Name[is]=Kig upplýsingar
Name[it]=Informazioni Kig
Name[ja]=Kig 情報
Name[ka]=Kig - მონაცემები
Name[km]=ព័ត៌មាន Kig
Name[mk]=Kig инфо
Name[nb]=Kig-info
Name[ne]=किग जानकारी
Name[nn]=Kig-info
Name[pa]=ਕਿਗ ਜਾਣਕਾਰੀ
Name[pl]=Informacja Kig
Name[pt]=Informação do Kig
Name[pt_BR]=Informações do Kig
Name[ru]=Файл Kig
Name[sl]=Podatki Kig
Name[sr]=Kig информације
Name[sr@Latn]=Kig informacije
Name[sv]=Kig-information
Name[ta]=கிக் தகவல்
Name[tg]=Ахборот дар бораи Kig
Name[tr]=Kig Bilgisi
Name[uk]=Інформація для Kig
Name[vi]=Thông tin Kig
Name[zh_CN]=Kig 信息
Name[zh_TW]=Kig 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_kig
MimeType=application/x-kig
PreferredGroups=KigInfo
PreferredItems=Version;CoordSytem
