[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Kig Info
Name[el]=Πληροφορίες για το Kig
Name[fr]=Informations de Kig
Name[x-test]=xxKig Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_kig
MimeType=application/x-kig
PreferredGroups=KigInfo
PreferredItems=Version;CoordSytem
