[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Kig Info
Name[ca]=Informació Kig
Name[da]=Kig info
Name[es]=Información de Kig
Name[et]=Kig-i info
Name[fr]=Informations de Kig
Name[gl]=Información de Kig
Name[hu]=Kig-jellemzők
Name[is]=Kig upplýsingar
Name[it]=Informazioni Kig
Name[nb]=Kig-info
Name[nn]=Kig-info
Name[pl]=Informacja Kig
Name[pt]=Informação do Kig
Name[pt_BR]=Informações do Kig
Name[ru]=Файл Kig
Name[sl]=Podatki Kig
Name[sr]=Kig информације
Name[sr@Latn]=Kig информације
Name[sv]=Kig-information
Name[ta]=கிக் தகவல்
Name[tg]=Ахборот дар бораи Kig
Name[zh_CN]=Kig 信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_kig
MimeType=application/x-kig
PreferredGroups=KigInfo
PreferredItems=Version;CoordSytem
