# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-cabri
Comment=Cabri Figure
Comment[bs]=Cabri slika
Comment[da]=Cabri figur
Comment[es]=Figura de Cabri
Comment[hu]=Cabri ábra
Comment[lv]=Cabri Figūra
Comment[nl]=Cabri-figuur
Comment[pt_BR]=Imagem Cabri
Comment[sv]=Cabri-figur
Comment[ven]=Tshiimo tsha Cabri
Comment[zh_CN]=Cabri 图形
Type=MimeType
Patterns=*.fig;*.FIG
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.fig
