# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-cabri
Icon=kig_doc
Comment=Cabri Figure
Comment[el]=Σχέδιο του Cabri
Comment[fr]=Figure Cabri
Comment[x-test]=xxCabri Figurexx
Type=MimeType
Patterns=*.fig;*.FIG
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.FIG
