# KDE Config File
[Desktop Entry]
MimeType=application/x-drgeo
Icon=kig_doc
Comment=Dr. Geo Figure
Comment[af]=Dr. Geo-figuur
Comment[be]=Фігура Dr. Geo
Comment[bg]=Фигура Dr. Geo
Comment[bn]=ড. জিও ছবি
Comment[bs]=Dr. Geo slika
Comment[ca]=Figura de Dr. Geo
Comment[cs]=Dr. Geo
Comment[csb]=Céchùnk Dr Geo
Comment[cy]=Ffigur Dr. Geo
Comment[da]=Dr. Geo-figur
Comment[de]=Dr. Geo-Zeichnung
Comment[el]=Σχέδιο του Dr. Geo
Comment[eo]=Dr. Geo figuro
Comment[es]=Figura de Dr. Geo
Comment[et]=Dr. Geo kujund
Comment[eu]=Dr. Geo irudia
Comment[fa]=شکل دکتر جیو
Comment[fi]=Dr. Geo -kaavio
Comment[fr]=Figure Dr. Geo
Comment[ga]=Léaráid Dr. Geo
Comment[gl]=Figura de Dr. Geo
Comment[hi]=डॉ. जिओ आकार
Comment[hu]=Dr. Geo-ábra
Comment[is]=Dr. Geo mynd
Comment[it]=Figura di Dr. Geo
Comment[ja]=Dr. Geo 図
Comment[ka]=Dr. Geo ფიგურა
Comment[km]=រូប​ពន្យល់ Dr. Geo
Comment[lt]=Dr. Geo figūra
Comment[ms]=Figure Dr. Geo
Comment[nb]=Dr. Geo-figur
Comment[nds]="Dr. Geo"-Figuur
Comment[ne]=डा. जिव फिगर
Comment[nl]=Dr. Geo-figuur
Comment[nn]=Dr. Geo-figur
Comment[pl]=Rysunek Dr. Geo
Comment[pt]=Figura do Dr. Geo
Comment[pt_BR]=Figura do Dr.Geo
Comment[ru]=Фигура Dr. Geo
Comment[sk]=Obrázok Dr. Geo
Comment[sl]=Lik Dr. Geo
Comment[sr]=Dr. Geo слика
Comment[sr@Latn]=Dr. Geo slika
Comment[sv]=Dr. Geo-figur
Comment[ta]=  டா.  ஜியோ படம்
Comment[tg]=Фигураи геометрӣ
Comment[tr]=Dr. Geo Figürü
Comment[uk]=Фігура Dr. Geo
Comment[vi]=Tiến sĩ Hình Hình học
Comment[zh_CN]=Dr. Geo 图形
Comment[zh_TW]=Dr. Geo 圖形
Type=MimeType
Patterns=*.fgeo
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.fgeo
