# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-drgeo
Icon=kig_doc
Comment=Dr. Geo Figure
Comment[el]=Σχέδιο του Dr. Geo
Comment[fr]=Figure Dr. Geo
Comment[x-test]=xxDr. Geo Figurexx
Type=MimeType
Patterns=*.fgeo
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.fgeo
