# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kgeo
Comment=KGeo Figure
Comment[bs]=KGeo slika
Comment[da]=KGeo figur
Comment[es]=Figura de KGeo
Comment[hu]=KGeo ábra
Comment[lv]=KGeo Figūra
Comment[nl]=KGeo-figuur
Comment[pt_BR]=Imagem KGeo
Comment[sv]=Kgeo-figur
Comment[ven]=Tshiimo tsha KGeo
Comment[xh]=Umfanekiso we KGeo
Comment[zh_CN]=KGeo 图形
Type=MimeType
Patterns=*.kgeo;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kgeo
