# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kgeo
Icon=kig_doc
Comment=KGeo Figure
Comment[el]=Σχέδιο του KGeo
Comment[fr]=Figure KGeo
Comment[x-test]=xxKGeo Figurexx
Type=MimeType
Patterns=*.kgeo;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kgeo
