# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kig
Icon=kig_doc
Comment=Kig Figure
Comment[x-test]=xxKig Figurexx
Type=MimeType
Patterns=*.kig;*.kigz;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kig;*.kigz
