# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kig
Comment=Kig Figure
Comment[bs]=Kig datoteka
Comment[da]=Kig-figur
Comment[de]=Kig-Zeichnung
Comment[el]=Σχήμα Kig
Comment[es]=Figura Kig
Comment[fi]=KFig-kuva
Comment[nl]=Kig-figuur
Comment[pt]=Figura do Kig
Comment[pt_BR]=Imagem Kig
Comment[sv]=Kig-bild
Comment[uk]=Фігура Kig
Type=MimeType
Patterns=*.kig;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kig
