# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kig
Comment=Kig Figure
Type=MimeType
Patterns=*.kig;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.kig
