# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kseg
Comment=KSeg Document
Type=MimeType
Patterns=*.seg;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.seg
