# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-kseg
Icon=kig_doc
Comment=KSeg Document
Comment[x-test]=xxKSeg Documentxx
Type=MimeType
Patterns=*.seg;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.seg
