# KDE Config File
[Desktop Entry]
MimeType=application/x-kseg
Icon=kig_doc
Comment=KSeg Document
Comment[af]=KSeg Dokument
Comment[ar]=مستند قسم ك
Comment[be]=Дакумент KSeg
Comment[bg]=Документ на KSeg
Comment[bn]=কে-সেগ ডকুমেন্ট
Comment[br]=Teul KSeg
Comment[bs]=KSeg dokument
Comment[ca]=Document de KSeg
Comment[cs]=Dokument KSeg
Comment[csb]=Dokùment KSeg
Comment[cy]=Dogfen KSeg
Comment[da]=KSeg-dokument
Comment[de]=KSeg-Dokument
Comment[el]=Έγγραφο KSeg
Comment[eo]=KSeg dokumento
Comment[es]=Documento de KSeg
Comment[et]=KSegi dokument
Comment[eu]=KSeg dokumentua
Comment[fa]=سند KSeg
Comment[fi]=KSeg-asiakirja
Comment[fr]=Document KSeg
Comment[ga]=Cáipéis KSeg
Comment[gl]=Documento de KSeg
Comment[he]=מסמך KSeg
Comment[hi]=के-सेग दस्तावेज़
Comment[hr]=KSeg dokument
Comment[hu]=KSeg dokumentum
Comment[is]=KSeg skjal
Comment[it]=Documento KSeg
Comment[ja]=KSeg ドキュメント
Comment[ka]=KSeg დოკუმენტი
Comment[km]=ឯកសារ KSeg
Comment[lt]=KSeg dokumentas
Comment[lv]=KSeg Dokuments
Comment[mk]=KSeg документ
Comment[ms]=Dokumen KSeg
Comment[nb]=KSeg-dokument
Comment[nds]=KSeg-Dokment
Comment[ne]=केडीई सेग कागजात
Comment[nl]=KSeg-document
Comment[nn]=KSeg-dokument
Comment[pl]=Dokument KSeg
Comment[pt]=Documento do KSeg
Comment[pt_BR]=Documento do KSeg
Comment[ru]=Документ KSeg
Comment[sk]=Dokument KSeg
Comment[sl]=Dokument KSeg
Comment[sr]=Kseg документ
Comment[sr@Latn]=Kseg dokument
Comment[sv]=Kseg-dokument
Comment[ta]=கேசக் ஆவணம்
Comment[tg]=Ҳуҷҷати KSeg
Comment[tr]=KSeg Belgesi
Comment[uk]=Документ KSeg
Comment[vi]=Tài liệu KSeg
Comment[zh_CN]=KSeg 文档
Comment[zh_TW]=KSeg 文件
Type=MimeType
Patterns=*.seg;
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.seg
